[2019-06-18 11:56] dor-itzhaki opened #67 "Error: no username, organization or repository criteria specified!"
**Describe the bug**
Getting the following error when trying to execute any `npx corvid` command:
```Error: no username, organization or repository criteria specified!```

[2019-06-18 12:10] dor-itzhaki commented on #67
This error originates from the `corvid` npm package (https://www.npmjs.com/package/corvid) which currently has nothing to do with this projects besides the fact that it shares the same name with our executable :(

Executing `npx corvid ...` fails to find our local `corvid` binary and goes to the npm registry to fetch the unrelated corvid npm module.

**To solve it:**
1. First, make sure corvid-cli

[2019-06-28 06:54] gasbi opened #75 "Unexpected and undesired changes into the database"
**Describe the bug**
When using the local editor `npx corvid open-editor`, I notice that the files in `src/database/*` are changed even though I did not do any change into the database. And these changes are breaking down my database schema.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone wix site with corvid
2. Open editor with corvid
3. Do not do any change on the site.
4. Click on `

[2019-07-03 08:37] dor-itzhaki commented on #75
Thanks for the details description @gasbi.
Can you please also post the URL of the wix site (public or editor) where you see this reproduced ?

[2019-07-03 09:09] gasbi commented on #75
Hello @dor-itzhaki, thanks for the reply!

The URL of the published site is: https://eparelllc.wixsite.com/mysite

Let me know of any additional help I can provide 👍

[2019-07-03 09:18] gasbi opened #85 "Problems creating Dynamic Pages on the local editor"
**Describe the bug**
When using the local editor `npx corvid open-editor`, it is not possible to correctly create a Dynamic Page on the site locally.
When I create a Dynamic Page in the local editor everything seems to work fine at first place, but when I close and re-open the editor, the recently created Dynamic Page is not anymore a "Dynamic Page", and instead it can be found as a "Regular page"

[2019-07-03 11:13] gasbi opened #86 "Use local "Published" version of the site for testing"
**Is your feature request related to a problem? Please describe.**
When using the local editor `npx corvid open-editor`, it is not possible to see the "Published" version of the site. Wix has some limitation to this version when using some Corvid APIs, like `wix-users` or `wix-pay`, which do not allow to test their functionalities on "Preview" mode.

Therefore, when using the local editor, it is n

[2019-07-03 12:31] gasbi commented on #75
Re-checking the bug, I have found better instructions to reproduce it: you need to click on `local save` button, even though you have not done any change to the site.

Those are updated in the issue description now.

[2019-07-03 14:07] stevesos commented on #86
A necessary requirement. Since the Editor is already essentially proxying some authentication services (npx corvid login & logout) from the Wix Editor and BI system. It should be feasible to proxy BI User and CRM services to imitate a published site from Electron.

[2019-07-03 14:08] stevesos commented on #85
Having looked at this it seems that the local editor is not creating the router asset for the page to hook into.

[2019-07-03 14:16] stevesos commented on #75
Here's an image showing Visual Studio Code in the background with the rogue files in yellow (indicating the Git changes) You can see that the dynamic page list has empty slots between DefaultAssortment and DefaultPosition, DefaultPosition and Department, and after Outfit. These correspond nicely with the Yellow files in the background ;-).

![image](https://user-images.githubusercontent.com/493774

[2019-07-04 11:47] tomenden commented on #75
Hi @gasbi,

Thank you very much for reporting the issue.
The reason for the issue is **multi-reference** fields which are currently being used in your site. Currently, `corvid-cli` does not support multi-reference. We are working on resolving the issue, and I expect it to be resolved next week.

**Please Note:**
Features relating to the Local Editor are currently in the stage of alpha release and

[2019-07-04 12:49] gasbi commented on #75
Hi @tomenden,

Glad to help!
Thank you very much for the reply and the estimated timeline. That's very helpful for us.
This issue together with #85 are holding our development on the local editor, will it be possible to get an ETA on that one as well?

Thanks again!

[2019-07-14 11:54] tombenezra commented on #85
A fix is merged and released (doesn't require an update for the cli)

[2019-07-14 11:54] #85 closed

[2019-07-14 14:51] #67 closed

[2019-07-14 18:22] tomenden commented on #86
It sounds like you are describing a feature which is not available on the online editor as well.
When you say you would like to "use local Published version" - are you referring to the actual published site, or the local version of your site running on production servers?

[2019-07-14 21:26] gasbi commented on #86
Hi @tomenden,
Exactly. I am referring to be able to see the local version of my site running on the servers, as if it were the **Published** version of the site, but **without** pushing the changes to the online editor, so that you can test the site with a user different from yours.
Let me know if I can do any further clarification, or help!

Thank you very much for your replies!

[2019-07-23 13:56] dor-itzhaki commented on #75
The issue should now be solved (it might take a bit until the fix is rolled out to all users)

[2019-07-23 13:56] #75 closed

[2019-07-23 14:37] gasbi commented on #75
Thanks @dor-itzhaki! Is it required to update the npm corvid-cli package to see the changes?

[2019-07-23 14:43] dor-itzhaki commented on #75
nope. it's the online wix editor that was modified.

[2019-07-24 09:42] gasbi commented on #75
Hi @tomenden and @dor-itzhaki,

I have been testing the corvid-cli and this issue seems to be solved at a major extent, but I am still getting some changes on the database. These are my results:

**Solved:**
- There is no more deletion of fields.
- The field `displayName` does not disapper.

**Still experiencing:**
- Changes on the `index` field, which I suppose is not of great importance.
- Chang

[2019-07-25 08:25] gasbi opened #99 "Editor will stop working when new pages are created on separate git branches"
**Describe the bug**
When working with the local editor on a team structure and under a development workflow based on feature branches, it is not possible to create new pages on these feature branches and then merge the changes to the master branch. The conflict has been identified to be related with the files in `src/assets/menus/*` which are changed whenever a new page is created on the local ed

[2019-07-28 10:34] dor-itzhaki commented on #75
Hey @gasbi,

A few questions:

1. Do you see the same happening if you clone the site again "from scratch" and open the local editor ?
2. Do you always get the same changes or different ones each time you open the local editor ?
3. Were these changes to the schemas actually done manually by someone at some point ?

[2019-08-18 09:04] moshfeu opened #117 "Concat dynamic page route's name into the file name"
**Is your feature request related to a problem? Please describe.**
A site with 2 dynamic routes that have a file with the same name

![Screen Shot 2019-08-18 at 11 58 24](https://user-images.githubusercontent.com/3723951/63222362-810c1100-c1af-11e9-9855-e5f436bb193d.png)

Getting the same name (except the suffix)

![Screen Shot 2019-08-18 at 12 01 39](https://user-images.githubusercontent.com/3723

[2019-08-19 11:27] moshfeu opened #120 "Allow to push via the cli"
**Is your feature request related to a problem? Please describe.**
Currently (as you probably know) the way to push is via the local editor but I have to open the editor and click on the button 2 irrelevant actions to the code

**Describe the solution you'd like**
Enable to run something like `corvid push`

**Describe alternatives you've considered**
🤷‍♀️

**Additional context**
It's a long shot,

[2019-08-25 14:43] moshfeu opened #124 "Reduce the "push" request size"
**Is your feature request related to a problem? Please describe.**
For large websites with a lot of data, each `push` request sends the whole site's data. It can be MBs (my website, for example sends 1.8MB)

**Describe the solution you'd like**
Send only diffs like the editor does.

**Describe alternatives you've considered**
I have no

**Additional context**
The request is: https://editor.wix.com

[2019-09-09 14:00] shoonia opened #132 "Add types for fetch request"
We use the` wix-fetch` with request options like credentials and cache. May you add more request options to types.

And may you change property body, headers etc... as a not required property.

For example:

[code]

Thanks!

* node-fetch types: https://npm.runkit.com/@types/node-fetch/index.d.ts?t=1568036747096

[2019-09-11 10:52] softz4u opened #133 "CLI fails to clone site on macbook running on external ssd"
When i run this command:
npx corvid clone https://yashaharari.wixsite.com

with my url there, i am prompted to log in via a popup window on my Macbook  (OS X El Capitan version 10.11.6) which runs on an external SSD.
I enter the login credentials, and the popup window closes.
Meanwhile, the terminal window says Authentication is done, and then it finishes and gives this error:

[corvid] an error h

[2019-09-16 13:27] gasbi commented on #75
Hi @dor-itzhaki,
Apologies for the late response.

At some point I stopped getting those changes, so I can say it is resolved now.

In case it's helpful, I'll answer your questions:
1. I didn't try that.
2. Yes.
3. No, actually I wouldn't know how to change the `sortable` property from the editor.

Thanks!

[2019-09-16 13:32] gasbi opened #138 "Changelogs describing new version releases"
**Is your feature request related to a problem? Please describe.**
Whenever you release a new version of the `corvid-cli`, it is very unclear what has changed. I would like to know the changes before-hand in order to make the best decision on when to update to that version depending on the current state of the development of the site.

**Describe the solution you'd like**
Just a description of all

[2019-09-19 11:45] tomenden commented on #138
Thanks for the request, you're absolutely right :)

For now, we're thinking of adding automatic generation of the CHANGELOG files based on the commit messages. You can check out https://github.com/wix-incubator/corvid/pull/139 which shows the initial changelogs generated by the past commit messages.

I will appreciate your feedback on whether you find this helpful.
Personally, I think it does help

[2019-09-25 12:40] #132 closed

[2019-09-25 12:41] shoonia commented on #132
moved this issue to corvid-types https://github.com/wix-incubator/corvid-types/issues/15

[2019-10-02 07:10] alexander-driveandjob opened #144 "Keep the coding "IDE" from the online version"
**Is your feature request related to a problem? Please describe.**
Biggest challenges with using my own IDE is I don't get the nice autocomplete and declaration checks for referring to elements on the front end. On top of that, my IDE pulls up way too many warnings regarding my use of $w which doesn't exist.

**Describe the solution you'd like**
Want to have the same code editor in the local edito

[2019-10-02 07:14] gasbi commented on #138
Hi @tomenden !
Thank you very much for your quick response, really appreciate it!

The automatic changelog files based on commit messages looks fine to me, certainly better than nothing! Although a plain english description for major updates like 0.2.0 are necessary, I believe :)

I've just seen the v0.2.0 release upgrade guide....that's exactly what I was asking for!
Thanks!

[2019-10-03 06:26] dor-itzhaki commented on #144
Hey,
Actually, we have just released support for offline autocomplete.
It is based on typescript definition files, so it requires a code editor with support for typescript. I'm guessing Atom would be fine, but we currently recommend [VSCode](https://code.visualstudio.com/) to get the best experience.

To get autocomplete, you will need to first "push" your site to Wix's online servers, and then in

[2019-10-03 06:31] #138 closed

[2019-10-10 09:19] gasbi opened #149 "Intellisense code completion not working for backend modules"
**Describe the bug**
The intelligent code-completion introduced in v0.2.0 is not working when trying to use the modules in `backend` folder. It works however with `public` and Corvid API.

Note that although the Intellisense is not working for the backend module, it works perfectly on the site. So, it is being correctly loaded and useful on the code, but there's no autocompletions as I have with p

[2019-11-06 00:16] StillOnMyWay opened #156 "Local Editor Not Saving"
Team,

I've had this same issue for over 2 months now when I try to use the local editor for larger websites. We're currently adding functionality using the editor, but it doesn't save at all. The saving indicator continues to slide back and forth, I've left it for over 10 minutes.

We've faced frequent "Reconnected Successfully" messages as well. Please let me know how much more information you'd

[2019-11-06 07:18] tomenden commented on #156
Hi!
Can you please provide the url of your site?
In order to be most helpful, it would be best if you can push your code to a git repository and share it with us.

[2019-11-06 15:19] StillOnMyWay commented on #156
Alright, I'll create one today. Not to be troublesome, but it would be a private repo that I'd share with you, for privacy sake.

Website url is  https://gatewayja.com.

[2019-11-06 23:36] StillOnMyWay commented on #156
Can you access it?

[2019-11-07 06:23] igalst opened #158 "Editor would crash moments after open - InvalidSchema error"
Freshlly cloned site would crash moments after opening the Editor due to `InvalidSchema` exception.

**To Reproduce**
1. `npx create-corvid-app MY_PROJECT https://www.MY_SITE.com/`
2. `cd ./MY_PROJECT`
3. `npx corvid open-editor`
4. Console output:
[code]
**Desktop (please complete the following information):**
 - OS: MacOS 10.14.6
 - node 10.17.0

**Additional context**
`session.log` file:
[code]

[2019-11-12 22:24] tomenden commented on #158
Hi @igalst ,

Thanks for reporting!
There seems to be some issue related to a specific collection on your site. We've seen a few other occurrences of this issue in other sites. I sent it over to the WixData team for investigation, I will keep you posted.

[2019-11-13 07:51] tomenden commented on #156
Hi @StillOnMyWay ,

I looked at your site, and I think the issue is not related to the _size_ of your site, but rather the animation of components in the editor. The browser is working hard to repeatedly animate the UI, causing other processes to be slower. It seems that the site takes a long time to save (and perform other operations) in the online version as well (Checked with Chrome).
I suspect

[2019-11-14 08:05] tomenden commented on #158
Issue should be resolved now.
@igalst can you please confirm?

[2019-11-14 13:42] igalst commented on #158
@tomenden thanks, seems to be resolved.

[2019-11-14 13:42] #158 closed

[2019-11-14 14:52] #144 closed

[2019-11-14 15:03] tomenden commented on #117
Hi @moshfeu ,
Each page is now added to a dedicated folder, I think we can consider this issue resolved. What do you think?

[2019-11-14 15:32] moshfeu commented on #117
I haven't used the new version so I can't test it but if this is the case, so yes.
Thanks!

[2019-11-14 15:32] #117 closed

[2019-11-15 14:24] tomenden commented on #133
Hi,
This problem actually occurs because the url you provided is not of a site.
Wix sites are structured username.wixsite.com/sitename
In your example, sitename is missing

[2019-11-15 14:24] #133 closed

[2019-11-18 16:15] StillOnMyWay commented on #156
That's no problem, did you see which of the components specifically was causing the most speed-down? Which did you remove that helped?

I looked at it aswell, but didn't see one causing a specific network slowdown, or even a paint slowdown.

Thanks @tomenden !

[2019-11-18 16:42] tomenden commented on #156
There were two HTML components on the home page that had some type of animation (some elements moving on the screen).
When I removed them, the editor responsiveness (and ability to save) improved.
Do you also experience this issue in the regular online editor?

I didn't dive deep into the analysis of the cause for slow-down, but if the issue is affecting the online editor as well it may be a case

[2019-11-20 07:22] fabiomolinar opened #166 "corvid login command hangs indefinitely"
**Describe the bug**

Anytime I try to run any of the following commands:

- npx create-corvid-app
- npx corvid login
- corvid login (I have corvid-cli installed as a node module globally)

The command hangs and the authentication process never really starts.

**To Reproduce**

Steps to reproduce the behavior:

1. Run `npx create-corvid-app <folder-name> [your-wix-site-url]`

OR

1. Run `corvid lo

[2019-11-20 13:28] dor-itzhaki commented on #166
Hello @fabiomolinar,

Thanks for reporting!

Can you please try the following:
[code]

Does this work ?
If not, can you send us your `.corvid/session.log` file after executing the login command ?

[2019-11-20 14:46] fabiomolinar commented on #166
Hi @dor-itzhaki,

Thanks for taking a look at this. I gave these commands a try but nothing changed. It still hangs with a message *Accessing www.wix.com*.

After some minutes I gave up on it and killed the process with `ctrl+c`. I pasted below the contents of `.corvid/session.log`.

[code]

[2019-11-20 15:15] dor-itzhaki commented on #166
Thanks.

First of all, just so you'll know and as you suspected, the login credentials should be provided through an electron browser window that pops up (not through the terminal).

A few more things we can try:

1. Execute `node ./node_modules/.bin/electron` inside your npm project directory (where you installed corvid-cli). Is an electron window opening successfully ?

2. Can you try to uninsta

[2019-11-20 16:07] fabiomolinar commented on #166
Update.

On the system monitor I can see a bunch of `electron` processes were started. Still, no window actually opens.

[2019-11-22 17:21] StillOnMyWay commented on #156
Hey Tom, thanks for jumping into it anyway. I definitely **won't** be contacting support, because it's unlikely to be as fruitful as this conversation was 😃. In the case that I can't remove the animation, why is the local editor blocking me from saving? Is there an Electron setting I can edit in the corivd config to make it 'overclock', if you get what I'm asking.

[2019-11-23 18:32] tomenden commented on #156
Hi,

I played around a bit more with the site in question, and unfortunately, it looks like my theory was incorrect, and while removing these elements did make the responsiveness of the editor a bit smoother, save operation remained slow, and sometimes came with disconnects :( My current theory is that as you initially thought, the issue _is_ related to the number of pages on your site, and perhap

[2019-11-23 20:53] tomenden commented on #156
@StillOnMyWay
I think I found something that can help.
In the editor, go to Settings > Accessibility -> Uncheck "Automatically Order DOM"

This operation happens on Save, and in the case of your site, it is taking a long time. I suggest that you toggle it back on before publishing your site (in the online editor) to make sure the DOM is accessible (note it is only really relevant to run it again i

[2019-11-26 11:01] igalst opened #170 "Editor crashes after open"
**Describe the bug**
The Editor crashes shortly after opening.

**To Reproduce**
[code]

**session.log**
[code]

[2019-11-26 16:04] StillOnMyWay commented on #156
Hey Tom,

I turned off the Dom Ordering, and it did marginally increase the speed of saving. I'm **extremely grateful** for this helpful tip, but it still is a bug that the editor would be stuck in a saving loop without at least a timeout and an error message to try again.

Is it something that we can add, a hard timeout for `averageEditorSavingTime * 30` e.g. I wish I could give technical suggest

[2019-11-26 18:03] tomenden commented on #170
Hi @igalst ,
Per the error message, it seems like one of the files is corrupted in some way. Can you please share your site and a git repo containing the files that you're experiencing this with so we can find the culprit? (Feel free to share it with me privately if you don't want to share it with the world)

Fyi - we are currently working on giving better indications for these kind of errors, whi

[2019-11-26 18:08] igalst commented on #170
Thanks @tomenden. I've emailed you additional details privately.

[2019-12-01 15:15] kostagersh commented on #170
Hi @igalst ,
I've investigated the problem and the root of it is 3 pairs of collections different only by case: Bases - bases, Regions - regions and Countries - countries. We're looking into it.

[2019-12-01 15:30] igalst commented on #170
Thanks for the update @kostagersh.
Indeed, while we're refactoring the site there are multiple sets of collections with same naming but different case. Wix Collections are considered case sensitive, so I didn't think that would cause any issue. At least, at the regular Editor it works perfect.

Looking forward for your next update.

[2019-12-12 12:40] igalst commented on #170
@kostagersh ,  could you please share status?

[2019-12-12 13:30] kostagersh commented on #170
Not fixed yet, will work on it soon.

On Thu, Dec 12, 2019, 14:40 Igal Steklov <notifications@github.com> wrote:

[2019-12-30 08:15] tomenden opened #175 "Custom Elements (Webcomponents) do not work in local editor"
Currently, [Custom Elements](https://support.wix.com/en/article/corvid-about-custom-elements-8253009) (aka Webcomponents) are not supported in the local editor. We are working on resolving the issue

[2020-01-19 19:56] Salman2301 opened #177 "Stuck in "Waiting for the Editor to connect""
# **Describe**
I initiate a new corvid app using `npx create-corvid-app folderName URL`, the Auth is succeeded but then it always stuck in "Waiting for the Editor to connect". I have run this code in Windows 10 and Ubuntu and also try different Wix website end up in the same result.
It was working before had an issue with windows 10 Admin privileged after I run it as an administrator, it was fixed

[2020-01-20 17:23] Salman2301 commented on #177
This is fixed Closing this issue

[2020-01-20 17:23] #177 closed

[2020-01-30 20:30] Infuze-Designs commented on #156
Hey Guys, im having this issue to i find the local editor is disconnecting during save then reconnecting, Terminal showing "Editor Connected" but saving fails, i will attempt to turn off DOM ordering to see if it helps but do we have an update? Im losing decent chunks of work due to this

[2020-01-30 21:05] Infuze-Designs commented on #156
Jsut tried Dom, still doing the same thing, I work for 20 minutes or so and press local save, it then fires the "Reconnected Successfully" message and terminal says "Editor Connected" the local save then hangs and never finishes. Maybe it needs a failsafe that if editor disconnects during save then it stops saving and allows a retry, like @StillOnMyWay states after 30 seconds or something @tomende

[2020-01-31 13:14] Infuze-Designs opened #178 "Unable to save or push local editor."
See attached error, This happens on bigger sites, I initially thought it was because the local files were on iCloud drive. I have removed the files from iCloud drive and saved locally i have then cloned the site to local, Now still every time i push "Save" or push the editor says "Unable to save, please try again later" i have managed to get the below errors from Terminal and from console.

Please

[2020-02-10 09:28] tomenden opened #180 "Pressing CMD+S opens the online editor's save popup, which has a publish button, which does not work"
**To Reproduce**
Steps to reproduce the behavior:
1. `npx corvid open-editor`
2. Add a text
3. Press CMD+S

**Expected behavior**
Silent local-save, same behavior as clicking the Save button

**Screenshots**
![image](https://user-images.githubusercontent.com/8851265/74137388-5f3c9580-4bf8-11ea-8050-3728f0ca9f04.png)

[2020-02-10 09:31] tomenden commented on #178
Hi @Infuze-Designs ,
Can you please send me the URL of your site so I can try to reproduce the issue?
We have a known issue with _Pushing_ large sites, but I'm not familiar with such a problem with saving.

[2020-02-10 09:58] Infuze-Designs commented on #178
Hey @tomenden
Below is the URL, however

The issue i have found is as follows;
If for any reason the site "Disconnects" during save then the editor times out, and it will not continue to save. I believe the problem could be fixed with a timeout on save.

So the steps the issue happens in, when it happens,
1. Have completed some work on the locoal editor
2. Press Local Save
3. Editor begins its sav

[2020-03-23 04:28] attakorns commented on #177
I'm still having this issue today. Did you do something it @Salman2301 ?

[2020-03-23 04:45] attakorns opened #185 "Stuck at 'Waiting for the Editor to connect'"
**Describe the bug**
A clear and concise description of what the bug is.
Ran `npx create-corvid-app <folder_path> <website URL>` and console keeps waiting at 'Waiting for the Editor to connect' and does not proceed. Same behaviour with `npx create-corvid-app <folder_path>` (that finished successfully) then followed by `npx corvid clone <website URL>`.

**To Reproduce**
Steps to reproduce the behav

[2020-03-23 15:12] TomsOverBaghdad commented on #86
Plus one on this question. As our site gets user ready, we need a way to test our sign up flow locally reliable and easily. Pushing the changes can't happen, we don't want to release bugs to our users.

[2020-03-24 15:23] shaneboyar opened #186 "corvid login fails"
**Describe the bug**
After inputting valid creds (confirmed by loggin in on the website, also resetting password and reattempting) via the electron window, electron window closes, and cli outputs:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `npx corvid login`
2. Input creds via electron window

**Expected behavior**
A clear and concise description of what you expected to happen.
E

[2020-03-24 15:33] shaneboyar commented on #186
For what it's worth this may just be a Wix issue right now...
<img width="804" alt="Screen Shot 2020-03-24 at 11 32 04 AM" src="https://user-images.githubusercontent.com/7648555/77445290-46143080-6dc3-11ea-9f52-edbf8e1562fb.png">

[2020-03-24 22:29] shaneboyar commented on #186
Server issues seem to have been fixed, but I am still unable to login through the CLI

[2020-03-25 14:18] tomenden commented on #186
Thanks for reporting!
A fix is in the oven
https://github.com/wix-incubator/corvid/pull/187

[2020-03-25 14:21] shaneboyar commented on #186
@tomenden thanks for the reply! just pulled that branch and it seems to work!

[2020-03-25 14:31] shaneboyar commented on #186
@tomenden For what it's worth, on using branch `CRVD-1963` I am now able to login, but it seems to hang on "Waiting for the editor to connect" when I try to clone

[2020-03-25 14:33] tomenden commented on #186
@shaneboyar
We got this report from another user, and I was unable to reproduce on that branch. Can you please run `corvid-debug clone` and let me know if you see more info in the logs/send a screenshot of the dev-tools of electron?

Thanks!

[2020-03-25 14:37] shaneboyar commented on #186
@tomenden Trying to run the clone command again gives me a "Project already exists" error now.

[2020-03-25 14:38] tomenden commented on #186
yes, you need to clear the directory first, or simple `rm -rf src .corvid` if you're in the directory and installed the corvid-cli through `npm/yarn i corvid-cli`

[2020-03-25 14:49] shaneboyar commented on #186
@tomenden got it to work on a second try. seems like my authentication wasn't persisted and i didn't notice another electron window popped up asking for creds, so I guess that's what it was waiting on.

[2020-03-25 14:51] shaneboyar commented on #186
Possibly a different, but not blocking, issue is that each new command (clone, then open-editor) seems to need reauthentication.

[2020-03-25 15:01] tomenden commented on #186
@shaneboyar
How do you use it from the branch?

[2020-03-25 15:03] shaneboyar commented on #186
@tomenden
 in my project, calling it directly:
`project/wix node ~/projects/corvid/packages/corvid-cli/src/index.debug.js open-editor`

[2020-03-26 09:39] tomenden commented on #186
I just released the new version and I am unable to reproduce the issue you reported. Can you please try to install it and let me know if the issue still reproduces?

First, please make sure you don't have any globally installed version of `corvid-cli` on your machine:
`npm uninstall -g corvid-cli`

Thanks!

[2020-03-27 18:39] TomsOverBaghdad opened #189 "Random elements appear when loading the editor / Unable to push from local editor"
**Describe the bug**
I have a bug where it I do cmd+R (reload the local editor) some elements I thought were deleted reappear in the top left of the page and messes up the formatting of everything else on the page. I have tried to delete them and reformat several times and it has failed.

I have tried to just push out what I have and then try to fix this on a different branch, but I cannot push my

[2020-03-30 20:00] TomsOverBaghdad commented on #189
Closer look at the error description

<img width="717" alt="Screen Shot 2020-03-30 at 3 58 30 PM" src="https://user-images.githubusercontent.com/6117043/77956214-841bc380-729f-11ea-8567-fd42a8fe18b5.png">

[code]

[2020-03-31 13:09] tomenden commented on #186
@shaneboyar Are you still getting the subsequent login issue?
Please try `npx corvid login` and right after that `npx corvid login` again. Are you asked to login again?

[2020-04-01 18:55] shaneboyar commented on #186
@tomenden `npx corvid login` gives me `Error: no username, organisation or repository criteria specified!`

I had removed my local clone, so I went to recreate it `npx create-corvid-app` it authenticates, then when trying to connect to the editor, I see an electron app try to open but the window doesn't seem to render anywhere and then the script just hangs, waiting for it. It also will not let me

[2020-04-01 21:04] tomenden commented on #186
You always need to be in the project directory when running the commands. The message you get regarding the "no organization" is actually from a different npm module named corvid.

[2020-04-01 21:18] shaneboyar commented on #186
I had a feeling it didn't work at first due to me not being in a project, but I still wasn't able to connect to the editor even after I got authenticated.

[2020-04-06 17:23] avrtau commented on #149
Any movement on this?

[2020-04-20 13:35] tomenden opened #197 "Feedback on Alpha version - web-components in corvid-cli"
:fire: corvid-cli users - We need your feedback! :fire:

Hi!
As you know, in the last year Wix moved to a new viewer, which made websites work much faster, and also allowed us to introduce new amazing features like web-components. Currently, the Local Editor is still running on the old viewer infrastructure, but thanks to @yonifra , it is now possible to use local mode with the new viewer!

For th

[2020-04-20 13:35] tomenden commented on #197
#175

[2020-05-07 01:55] bdevore17 opened #198 "Local Save and Push completely broken"
**Describe the bug**
Unable To Local Save or Push any project

**To Reproduce**
Steps to reproduce the behavior:
1. Pull a website using `npx corvid pull --override`
2. Open editor using `npx corvid open-editor`
3. Make any change, large or small, to the site using the editor
3. Attempt to either "Local Save", or "Push"
4. Observe that both the above functionalities end up in a state of never endi

[2020-05-07 06:53] kostagersh commented on #198
Fixed

[2020-05-07 12:59] bdevore17 commented on #198
@kostagersh This issue is still persisting.

[2020-05-07 13:38] bdevore17 commented on #198
@kostagersh it now appears that while the push animation never stops, push is indeed happening. Local save still does not work.

[2020-05-11 07:34] kostagersh commented on #198
@bdevore17 Can you check again?

[2020-05-12 06:41] rlemoie12 commented on #198
Update from a member of bdevore17's team.

We are now able to push our local site to the remote repository, however, I am just seeing the pushes from local as "Manually Saved" events in the Site History, and the updates are not seen on the Editor nor in the Live Site.
![image](https://user-images.githubusercontent.com/63804205/81643433-8f602400-93f3-11ea-841f-6e8b7065d171.png)

This occurs when tr

[2020-05-12 10:51] #198 closed

[2020-05-12 10:52] kostagersh commented on #198
It's another issue, let's open it

[2020-05-18 13:20] Infuze-Designs opened #199 "URGENT; Cannot Push Local Site"
**Describe the bug**
Pressing Push on the local editor fires an error of "There is a problem pushing your local version to the remote repository. Please try again later.

I have tried for the last 3 days and still nothing, client wants access to site and cannot get it as i cannot push the changes.

**To Reproduce**
Steps to reproduce the behavior:
Click Push,
Error Fires

**Expected behavior**
Exp

[2020-05-23 17:56] hjmsw commented on #199
I'm also having this issue, were you able to resolve somehow @Infuze-Designs ?

[2020-05-30 14:56] gregorykrings opened #200 "Error: Command failed: npx corvid clone https://www.website.com/"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir /new_folder
2. cd new_folder
3. sudo npx create-corvid-app ~/path/to/new_folder https://www.website.com/

**Expected behavior**
should clone the website in local
**Screenshots**
Corvid Technical Preview
Find out more about Corvid at www.wix.com/corvid
The Corvid CLI

[2020-05-30 17:47] #200 closed

[2020-05-31 14:50] minhoyooDEV commented on #177
same

[2020-06-01 00:41] Salman2301 commented on #177
@attakorns that was fixed, you might have some other bug that causing the editor stuck
Create a new issue with instruction to reproduce and send the log as i did for this bug.
That's the best way to get it fixed

[2020-06-27 09:56] anantakrishna opened #204 "`corvid pull` constantly changes `styleId` in several pages"
**Describe the bug**
Running `corvid pull` every time changes the `content` of 2 pages, namely `Fullscreen_Page.wix` and `Home.wix`, without any changes being made in the Regular Editor.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `corvid pull --override`.
1. Commit all the site folder into git.
3. Don't change anything in the Regular Editor.
2. Run `corvid pull --override`.
5. See t

[2020-06-27 11:52] anantakrishna commented on #204
Also, changing any other page in the local editor causes changes in the `Home.wix` page content.

[2020-06-29 15:29] h0x91b-wix commented on #199
This is not a solution but a workaround:

In Wix editor (online version)
* In top menu `Site` -> `Site History`
* Revert to the previous version of the site
* In `Corvid-CLI` you should be able to `Force push` it, if not, then revert to one more.

Again - this is not an official solution, just workaround which helps me to solve it.

[2020-07-14 23:06] sm00thslp commented on #177
Issue closed, moved, comes back here...where is your solution?!?! Like wtf!?!

[2020-08-11 21:17] james-innes commented on #199
There is no `force push` command you talk of ? unless I am mistaken I can't use git commands direclty I have to use the Corvid CLI which only exposes `pull` at the moment.

[2020-08-12 10:02] h0x91b-wix commented on #199
I mean `Force push` button in the UI of local Corvid-CLI editor when you try to push it...
Just press the `push` button on the top right of an editor and you will see it.

[2020-08-19 00:46] ObserverCR opened #205 "Error: Command failed: npx corvid clone"
**Describe the bug**
Cannot clone any site into local project directory. Clone fails during "Getting site information". The issue occurs using both the commands npx create-corvid-app <folder-name> [your-wix-site-url] (if a site url is included) and npx corvid clone <your-wix-site-url> (if local directory was created without cloning project).

While this issue occurs with all sites, the details bel

[2020-08-19 11:26] dor-itzhaki commented on #205
Hello,

Please try cloning your site via the `npx corvid-debug clone` command and attach both the console output and the contents the `.corvid/session.log` file that is created after a failed clone.
Let's see if we can find something interesting there...

In addition, can you try cloning using node version 10 (you're currently using version 14) ?
We should support newer versions, but I'd like to t

[2020-08-20 01:15] ObserverCR commented on #205
Result of corvid-debug clone below:

[code]

Session Log:
`                                                                                                                       {"level":"error","name":"FetchError","type":"invalid-json","timestamp":"2020-08-20T01:06:20.416Z"}`

Exact same issue experienced when cloning with node v10:
<img width="1163" alt="Version 10 Error" src="https://user-image

[2020-08-20 12:11] kostagersh commented on #205
Hello, I'm working on this issue now, but i cannot reproduce it locally. Can you temporary add me as site contributor?

[2020-08-24 19:58] dor-itzhaki commented on #205
@ObserverCR can you please try to browse to this URL ?
`https://www.wix.com/_api/corvid-devex-service/v1/listUserSites`

what's the reponse that you get ? is the site you're trying to clone included ?

[2020-08-24 20:14] dor-itzhaki commented on #205
Also,

Are you asked to sign in each time you try to clone the site?

Can you try to clear some of Electron's local data by deleting these?
`~/Library/Application\ Support/Electron/Cache`
`~/Library/Application\ Support/Electron/Cookies`

Then try to clone again. Did it help?

[2020-08-27 23:47] ObserverCR commented on #205
Removing

~/Library/Application\ Support/Electron/Cache
~/Library/Application\ Support/Electron/Cookies

and then attempting to clone again solved the problem thanks!

Not really relevant now, but the website targeted was included at the url:
https://www.wix.com/_api/corvid-devex-service/v1/listUserSites

[2020-08-27 23:47] #205 closed

[2020-08-29 12:48] james-innes commented on #199
This problem is pretty serious and prevents any use of the local editor full stop.

[2020-08-31 10:35] tomenden commented on #199
@james-innes
Are you currently experiencing this issue?
If so, could you please provide more specific info - ideally, a github repo that contains your local files and the site URL (you can share it privately if you don't feel comfortable sharing this info here).

Also, to understand whether this is an issue with the local version of your files or a more general issue - could you please try to re-c

[2020-08-31 10:35] #197 closed

[2020-08-31 13:10] copcb opened #206 "Menus & Pages menu does not display in local-editor"
**Describe the bug**
Menus & Pages menu does not display when using the local editor. Electron console shows an error
instrument.ts:273
"Invariant Violation: Minified React error #130; visit https://reactjs.org/docs/error-decoder.html?invariant=130&args[]=undefined&args[]= for the full message or use the non-minified dev environment for full errors and additional helpful warnings."

**To Reproduce

[2020-09-01 07:56] anantakrishna commented on #206
I experience this as well.

As a workaround:

- Open preview in the local editor.
- Navigate to another page using the main menu in the preview mode.
- Return to edit mode.

After this the Menus & Pages button works again.

[2020-09-02 06:04] copcb commented on #206
Thanks!
that works for me too - in fact I don't even have to navigate to a different page. Just preview and return to editor stops the error showing up.

[2020-09-29 17:35] JordanBoulan commented on #199
Forcing a force push by reverting the site as mentioned above is the only thing that works for me.

[2020-11-10 14:33] tobinbc opened #209 "Cannot use Google OAuth in Electron window"
**Background**
Wix account created originally with Google OAuth

**Problem**
Selecting 'login with google' in the electron login screen, Google rejects the login because it appears to not support logins from embedded web view stuff?

![image](https://user-images.githubusercontent.com/18423542/98687039-300eac80-2361-11eb-88d4-28e237a64d5c.png)

**Solution**
Go to wix website > account settings. Wix

[2020-11-10 14:53] tomenden commented on #209
@tobinbc thanks for reporting. We actually had this issue before, and this should be resolved by now. Can you please let me know what is the version of `corvid-cli` you are using?
You can check the version by using the command `npx corvid --version`

Thanks!

[2020-11-10 15:05] tobinbc commented on #209
@tomenden No probs; i'm v0.2.10

[2020-11-10 15:09] tomenden commented on #209
@tobinbc what operating system are you using? I just tested myself in macOS Catalina and I am unable to reproduce the issue. Can you please check if the issue reproduces when you do the following:
`npx corvid logout` followed by `npx corvid login`

Thank you very much

[2020-12-19 17:24] etroimcasso commented on #177
This is NOT fixed. I've been having this issue for months, and now you guys are just gonna ignore it instead. Lovely. Moving away from Wix ASAP

[2020-12-22 02:23] atatimelikethis opened #212 "Linux Authentication Failure"
**Describe the bug**
Linux Corvid Cli install error
npx create-corvid-app installs without wixsite dependency
npx create-corvid-app does not install with site dependency
install libgbm-dev creates partial fix, though install still fails on authentication attempt

**To Reproduce**
Steps to reproduce the behavior:
1. Access Google Cloud Shell Linux Debian 10 environment*
2. Standard installation com

[2020-12-31 09:56] morsh opened #213 "DOM elements are not recognized in custom elements"
When writing web components (aka custom elements), I need to write something like:
[code]

In the above code, `HTMLElement`; `document`; `this.appendChild`; `customElements.define` are all not defined.
A simple solution would be to add `"lib": ["es2016", "dom"]` to the `tsconfig` file generated in `public/` folder, like so:

[code]

[2021-01-10 19:35] dor-itzhaki commented on #177
There seems to be a mix of different issues in this thread.
A new corvid-cli version has just been published that fixes an issue preventing login.
Please try again with the latest version (v0.2.12) and if any problem arises open a new issue.
Also please remember that this product is still in alpha stage.
Thanks!

[2021-01-13 04:23] C-onnor opened #215 "Duplicate - Local Editor crashes repeatedly - There was an error initializing your site. Please try again."
**Describe the bug**
Error when initializing the local editor.  It loads but doesn't fully initialize and crashes.

**To Reproduce**
These are the steps to reproduce the behavior. The URL and file directory were changed for privacy reasons:

1. Installed Node.js 14.15.4 LTS Windows x64
2. `npx create-corvid-app C:\Users\connor\Desktop\_website https://mywebsitegoeshere.wixsite.com/website-1`
3. `c

[2021-01-13 04:24] C-onnor opened #216 "Local Editor crashing - There was an error initializing your site. Please try again."
**Describe the bug**
Error when initializing the local editor.  It loads but doesn't fully initialize and crashes.

**To Reproduce**
These are the steps to reproduce the behavior. The URL and file directory were changed for privacy reasons:

1. Installed Node.js 14.15.4 LTS Windows x64
2. `npx create-corvid-app C:\Users\connor\Desktop\_website https://mywebsitegoeshere.wixsite.com/website-1`
3. `c

[2021-01-14 01:45] #215 closed

[2021-01-15 03:35] attakorns commented on #177
I can confirm that I am no longer stuck at 'Waiting for the editor to connect'. Many thanks!

[2021-01-16 22:30] bwprado commented on #177
I just installed everything and I'm getting stuck at "Waiting for editor..."

When I try to open the editor, it says it cannot be opened cause the project is empty.

[2021-01-16 22:33] bwprado commented on #185
Having the same problem, waiting to be fixed.

[2021-01-17 09:15] dor-itzhaki commented on #177
@bwprado
If your site has been built using EditorX, note that corvid-cli doesn't currently support it.
If it was built using the classic editor, please open a new issue about your case and try to add as many details as possible.
Specifically, if you can try cloning in debug mode (`corvid-debug` instead of `corvid`), that'll allow us to get much more info about the error.

[2021-01-18 13:16] bwprado commented on #177
@dor-itzhaki, thank you very much for the reply, and you're right, I was trying to use it on an EditorX website. But as I imagined that it could be an EditorX incompatibility, I also tried with a website built with the classic editor and unfortunately had the same issue. I'll try later again to see if I missed something.

[2021-01-24 19:12] RockyPhoenix commented on #185
Also having this issue.

**Describe the bug**

Running `npx create-corvid-app <folder> <website>` or `npx corvid open-editor` both proceed and hang:

To Reproduce
Steps to reproduce the behavior:
Run `npx create-corvid-app <folder_path> <website URL>` or `npx corvid open-editor`.

Expected behavior
A clear and concise description of what you expected to happen.
Expecting Electron editor to launch.

[2021-02-09 18:16] xileftenurb commented on #185
Also having this issue,
Window 10
nose: v12.18.3
npx: 6.14.6

[2021-02-09 19:22] xileftenurb commented on #185
To all those who would stuck on this, I found out,
If you go in the ".corvid" folder, there is a file named "session.log"

you probably have some useful error log in there that could explain what is happening.

for me, I have "error reading editor versions: Invalid URL: "
and "Admin server authentication error"

[2021-02-09 21:29] xileftenurb opened #218 "Cannot clone -> Admin server authentication error (including potential fix.)"
**Describe the bug**

I followed the step on Velo website to clone using corvid-cli,
but stuck at the same place as #185
"Waiting for the Editor to connect"

Since I REALLY wanted it to work, I started probing the code around.

I used  `corvid-debug` to get more error info and found out 2 warnings.
The first is "error reading editor versions: Invalid URL:", but it was irrelevant (see: #217 )
The s

[2021-02-18 01:21] rafaelbdb commented on #205
Same problem here, but on Linux (Debian 10).
I couldn't find those folders to delete...
Any ideas?

[2021-02-18 09:16] dor-itzhaki commented on #205
You should be able to get the base path by executing these inside the project directory:
- `npx electron -i` (will get you into an electron REPL)
- `require('electron').app.getPath('appData')` (will print the base path to the screen)
- CTRL-C (probably twice) to get out of the REPL.

Inside the path you got, you should have an "Electron" folder and the "Cache/Cookies" subfolders within.

[2021-02-19 23:52] rafaelbdb commented on #205
`~/.config/Electron` was the folder, but has only 2 subfolders `'Crash Reports'` and `Dictionaries`

[2021-03-11 14:57] matt-at-github opened #219 "Not receiving all page elements"
**Describe the bug**
Whenever I pull, I do not get all the page elements, pageElements.d.ts of each page does not have all the pages elements that I have on Wix.

**Desktop (please complete the following information):**
 - OS: Windows 10

[2021-03-26 06:52] nk-gears opened #220 "Unable to Select or Drag Elements in the Editor"
**Describe the bug**
It's very hard to move around elements in the design editor. The app selects the wrong element when we select using the mouse cursor. It's 10-15 pixels of mismatch.

**To Reproduce**
Steps to reproduce the behavior:
- Go to the Editor
- Add Two Buttons horizontally closer
- Try to select the first button, the second button will be selected. This should not happen

**Expected b

[2021-04-01 16:12] Cipher-Coder commented on #185
I've been experiencing this issue as well. I am using macOS Big Sur 11.2.3 and I found that when it gets stuck like that, all I have to do is make sure the Electron window is selected and go to 'View' and click 'Reload'. Once I click on reload it connects and site is displayed like it should be.
I am not sure about any of the other OS's but Electron is... well... you know.. Electron.

[2021-05-20 14:11] Cesaraugp opened #221 "Unable to Push Local Site to Remote"
**Describe the bug**
Whenever i try to push the local version of my site through the corvid editor, it shows an error message saying that i should try it again later.
If i follow the "workaround" that's available in previous bug reports for this same problem, the `force push` button available on the editor loads for about 45 seconds and doesn't show up any error or success messages. Instead, in th